@charset "ISO-8859-1";

#scripttr {
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 60px;
}

td:nth-child(3) {
	width: 149px;
}

td:nth-child(2) {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 70px;
}

td:nth-child(4) {
	width: 50px;
}

.script1 {
	max-width: 580px;
	max-height: 210px;
	white-space: nowrap;
	position: relative;
	overflow-x: scroll;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.script1 div {
	max-width: 100%;
	float: none;
	max-height: 100%;
	margin: 0 0.25%;
	display: inline-block;
	zoom: 1;
}